
# ================
# 日志文件
# ================
*.log            
logs/             

# ================
# 数据集
# ================
data/         
processed/    

# ================
# 模型权重
# ================
results*/         
*.pt
*.pth
*.ckpt

# ================
# 压缩包
# ================
*.zip